 .u-section-1 {
  min-height: 250px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  margin: 60px calc(((100% - 1140px) / 2) + 169px) 0;
}

.u-section-1 .u-custom-html-1 {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: 30px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}