.u-section-1 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 49px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 36px 0 0;
}
.u-section-v{
background-image: url("images\cvcv.jpg");
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("\images\Photo Gallery\20240229 - 002 [4K80].jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/travel-trekking-summer-landscape-mountains-green-grass-trees-blue-sky_146671-18447.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/6547.jpg");
  background-position: 50% 50%;
  min-height: 278px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/g.jpg");
  background-position: 50% 50%;
  min-height: 278px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  min-height: 556px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/l.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/sea-beach_1203-3515.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 35px 30px 30px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/beautiful-countryside-road-greenery-forests_181624-5399.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 229px;
  }

  .u-section-1 .u-image-2 {
    min-height: 229px;
  }

  .u-section-1 .u-image-3 {
    min-height: 229px;
  }

  .u-section-1 .u-image-4 {
    min-height: 229px;
  }

  .u-section-1 .u-image-5 {
    min-height: 458px;
  }

  .u-section-1 .u-image-6 {
    min-height: 229px;
  }

  .u-section-1 .u-image-7 {
    min-height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1967px;
  }

  .u-section-1 .u-image-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-2 {
    min-height: 263px;
  }

  .u-section-1 .u-image-3 {
    min-height: 263px;
  }

  .u-section-1 .u-image-4 {
    min-height: 263px;
  }

  .u-section-1 .u-image-5 {
    min-height: 1052px;
  }

  .u-section-1 .u-image-6 {
    min-height: 175px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-7 {
    min-height: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3174px;
  }

  .u-section-1 .u-image-1 {
    min-height: 395px;
  }

  .u-section-1 .u-image-2 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    min-height: 789px;
  }

  .u-section-1 .u-image-6 {
    min-height: 197px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-7 {
    min-height: 394px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2079px;
  }

  .u-section-1 .u-image-1 {
    min-height: 249px;
  }

  .u-section-1 .u-image-2 {
    min-height: 249px;
  }

  .u-section-1 .u-image-3 {
    min-height: 249px;
  }

  .u-section-1 .u-image-4 {
    min-height: 249px;
  }

  .u-section-1 .u-image-5 {
    min-height: 497px;
  }

  .u-section-1 .u-image-6 {
    min-height: 124px;
  }

  .u-section-1 .u-image-7 {
    min-height: 248px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 613px;
}

.u-section-2 .u-gallery-1 {
  width: 989px;
  height: 945px;
  grid-gap: 10px 10px;
  margin: 9px auto 60px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-27 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-28 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-29 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-29 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-30 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-30 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-31 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-32 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-33 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-34 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-35 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-36 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-37 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-37 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-38 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-38 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-39 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-39 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-40 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-40 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-41 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-41 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-42 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-42 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-43 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-43 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-44 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-45 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-45 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-46 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-46 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-47 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-47 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-48 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-48 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-49 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-49 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-50 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-50 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-51 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-51 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-52 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-52 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-53 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-53 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-54 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-54 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-55 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-55 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-56 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-56 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-57 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-57 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-58 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-58 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-59 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-59 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-60 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-60 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-61 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-61 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-62 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-62 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-63 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-63 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-64 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-64 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-65 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-65 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-66 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-66 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-67 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-67 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-68 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-68 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-69 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-69 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-70 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-70 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-71 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-71 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-72 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-72 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-73 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-73 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-74 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-74 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-75 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-75 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-76 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-76 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-77 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-77 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-78 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-78 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-79 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-79 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-80 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-80 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-81 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-81 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-82 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-82 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-83 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-83 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-84 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-84 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-85 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-85 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-86 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-86 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-87 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-87 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-88 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-88 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-89 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-89 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-90 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-90 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-91 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-91 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-92 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-92 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-93 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-93 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-94 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-94 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-95 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-95 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-96 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-96 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-97 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-97 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-98 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-98 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-99 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-99 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-100 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-100 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-101 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-101 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-102 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-102 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-103 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-103 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-104 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-104 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-105 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-105 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-106 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-106 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-107 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-107 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-108 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-108 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-109 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-109 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-110 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-110 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-111 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-111 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-112 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-112 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-113 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-113 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-114 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-114 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-115 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-115 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-116 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-116 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-117 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-117 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-118 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-118 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-119 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-119 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-120 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-120 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-121 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-121 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-122 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-122 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-123 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-123 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-124 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-124 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-125 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-125 {
  min-height: 100px;
  padding: 10px;
}


.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}
.u-section-2 .u-carousel-thumbnail-1,
.u-section-2 .u-carousel-thumbnail-2,
.u-section-2 .u-carousel-thumbnail-3,
.u-section-2 .u-carousel-thumbnail-4,
.u-section-2 .u-carousel-thumbnail-5,
.u-section-2 .u-carousel-thumbnail-6,
.u-section-2 .u-carousel-thumbnail-7,
.u-section-2 .u-carousel-thumbnail-8,
.u-section-2 .u-carousel-thumbnail-9,
.u-section-2 .u-carousel-thumbnail-10,
.u-section-2 .u-carousel-thumbnail-11,
.u-section-2 .u-carousel-thumbnail-12,
.u-section-2 .u-carousel-thumbnail-13,
.u-section-2 .u-carousel-thumbnail-14
.u-section-2 .u-carousel-thumbnail-15,
.u-section-2 .u-carousel-thumbnail-16,
.u-section-2 .u-carousel-thumbnail-17,
.u-section-2 .u-carousel-thumbnail-18,
.u-section-2 .u-carousel-thumbnail-19,
.u-section-2 .u-carousel-thumbnail-20,
.u-section-2 .u-carousel-thumbnail-21,
.u-section-2 .u-carousel-thumbnail-22,
.u-section-2 .u-carousel-thumbnail-23,
.u-section-2 .u-carousel-thumbnail-24,
.u-section-2 .u-carousel-thumbnail-25,
.u-section-2 .u-carousel-thumbnail-26,
.u-section-2 .u-carousel-thumbnail-27,
.u-section-2 .u-carousel-thumbnail-28,
.u-section-2 .u-carousel-thumbnail-29,
.u-section-2 .u-carousel-thumbnail-30,
.u-section-2 .u-carousel-thumbnail-31,
.u-section-2 .u-carousel-thumbnail-32,
.u-section-2 .u-carousel-thumbnail-33,
.u-section-2 .u-carousel-thumbnail-34,
.u-section-2 .u-carousel-thumbnail-35,
.u-section-2 .u-carousel-thumbnail-36,
.u-section-2 .u-carousel-thumbnail-37,
.u-section-2 .u-carousel-thumbnail-38,
.u-section-2 .u-carousel-thumbnail-39,
.u-section-2 .u-carousel-thumbnail-40,
.u-section-2 .u-carousel-thumbnail-41,
.u-section-2 .u-carousel-thumbnail-42,
.u-section-2 .u-carousel-thumbnail-43,
.u-section-2 .u-carousel-thumbnail-44,
.u-section-2 .u-carousel-thumbnail-45,
.u-section-2 .u-carousel-thumbnail-46,
.u-section-2 .u-carousel-thumbnail-47,
.u-section-2 .u-carousel-thumbnail-48,
.u-section-2 .u-carousel-thumbnail-49,
.u-section-2 .u-carousel-thumbnail-50,
.u-section-2 .u-carousel-thumbnail-51,
.u-section-2 .u-carousel-thumbnail-52,
.u-section-2 .u-carousel-thumbnail-53,
.u-section-2 .u-carousel-thumbnail-54,
.u-section-2 .u-carousel-thumbnail-55,
.u-section-2 .u-carousel-thumbnail-56,
.u-section-2 .u-carousel-thumbnail-57,
.u-section-2 .u-carousel-thumbnail-58,
.u-section-2 .u-carousel-thumbnail-59,
.u-section-2 .u-carousel-thumbnail-60,
.u-section-2 .u-carousel-thumbnail-61,
.u-section-2 .u-carousel-thumbnail-62,
.u-section-2 .u-carousel-thumbnail-63,
.u-section-2 .u-carousel-thumbnail-64,
.u-section-2 .u-carousel-thumbnail-65,
.u-section-2 .u-carousel-thumbnail-66,
.u-section-2 .u-carousel-thumbnail-67,
.u-section-2 .u-carousel-thumbnail-68,
.u-section-2 .u-carousel-thumbnail-69,
.u-section-2 .u-carousel-thumbnail-70,
.u-section-2 .u-carousel-thumbnail-71,
.u-section-2 .u-carousel-thumbnail-72,
.u-section-2 .u-carousel-thumbnail-73,
.u-section-2 .u-carousel-thumbnail-74,
.u-section-2 .u-carousel-thumbnail-75,
.u-section-2 .u-carousel-thumbnail-76,
.u-section-2 .u-carousel-thumbnail-77,
.u-section-2 .u-carousel-thumbnail-78,
.u-section-2 .u-carousel-thumbnail-79,
.u-section-2 .u-carousel-thumbnail-80,
.u-section-2 .u-carousel-thumbnail-81,
.u-section-2 .u-carousel-thumbnail-82,
.u-section-2 .u-carousel-thumbnail-83,
.u-section-2 .u-carousel-thumbnail-84,
.u-section-2 .u-carousel-thumbnail-85,
.u-section-2 .u-carousel-thumbnail-86,
.u-section-2 .u-carousel-thumbnail-87,
.u-section-2 .u-carousel-thumbnail-88,
.u-section-2 .u-carousel-thumbnail-89,
.u-section-2 .u-carousel-thumbnail-90,
.u-section-2 .u-carousel-thumbnail-91,
.u-section-2 .u-carousel-thumbnail-92,
.u-section-2 .u-carousel-thumbnail-93,
.u-section-2 .u-carousel-thumbnail-94,
.u-section-2 .u-carousel-thumbnail-95,
.u-section-2 .u-carousel-thumbnail-96,
.u-section-2 .u-carousel-thumbnail-97,
.u-section-2 .u-carousel-thumbnail-98,
.u-section-2 .u-carousel-thumbnail-99,
.u-section-2 .u-carousel-thumbnail-100,
.u-section-2 .u-carousel-thumbnail-101,
.u-section-2 .u-carousel-thumbnail-102,
.u-section-2 .u-carousel-thumbnail-103,
.u-section-2 .u-carousel-thumbnail-104,
.u-section-2 .u-carousel-thumbnail-105,
.u-section-2 .u-carousel-thumbnail-106,
.u-section-2 .u-carousel-thumbnail-107,
.u-section-2 .u-carousel-thumbnail-108,
.u-section-2 .u-carousel-thumbnail-109,
.u-section-2 .u-carousel-thumbnail-110,
.u-section-2 .u-carousel-thumbnail-111,
.u-section-2 .u-carousel-thumbnail-112,
.u-section-2 .u-carousel-thumbnail-113,
.u-section-2 .u-carousel-thumbnail-114,
.u-section-2 .u-carousel-thumbnail-115,
.u-section-2 .u-carousel-thumbnail-116,
.u-section-2 .u-carousel-thumbnail-117,
.u-section-2 .u-carousel-thumbnail-118,
.u-section-2 .u-carousel-thumbnail-119,
.u-section-2 .u-carousel-thumbnail-120,
.u-section-2 .u-carousel-thumbnail-121,
.u-section-2 .u-carousel-thumbnail-122,
.u-section-2 .u-carousel-thumbnail-123,
.u-section-2 .u-carousel-thumbnail-124,
.u-section-2 .u-carousel-thumbnail-125 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-2 .u-gallery-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}