 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(233,242,250,0.7), rgba(233,242,250,0.7)), url("images/beer4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 959px;
}

.u-section-1 .u-group-1 {
  min-height: 406px;
  height: auto;
  margin-top: 131px;
  margin-bottom: 60px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 337px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 60.62% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 284px;
    margin-bottom: 59px;
  }
}