 .u-section-1 {
  min-height: 484px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2) + 269px) 0 calc(((100% - 1140px) / 2) + 366px);
}

.u-section-1 .u-custom-html-1 {
  margin: 106px calc(((100% - 1140px) / 2) + 269px) 0 calc(((100% - 1140px) / 2) + 366px);
}

.u-section-1 .u-text-3 {
  width: 505px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-2 {
    width: 408px;
    margin-left: calc(((100% - 940px) / 2) + 266px);
    margin-right: calc(((100% - 940px) / 2) + 169px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 266px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 156px);
    margin-right: calc(((100% - 720px) / 2) + 59px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2) + 59px);
    margin-left: calc(((100% - 720px) / 2) + 156px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 465px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 35px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 35px);
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 489px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-custom-html-2 {
  margin: 20px auto auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
  }
}