 .u-section-1 {
  min-height: 402px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2) + 269px) 60px calc(((100% - 1140px) / 2) + 366px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 408px;
    margin-left: calc(((100% - 940px) / 2) + 266px);
    margin-right: calc(((100% - 940px) / 2) + 169px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 156px);
    margin-right: calc(((100% - 720px) / 2) + 59px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 35px);
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}